@import './custom.scss';
@import './element-ui.scss';
@import './backstage.scss';

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    color: var(--el-text-color-primary);
    font-size: var(--el-font-size-base);
    font-family: "PingFang SC";
    overflow: hidden;
}

//滚动条样式
::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, .3);
    border-radius: 6px;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0);
}

pre {
    background-color: var(--el-fill-color);
    padding: 20px;
}