<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.caselist.mapper.LesionMapper">
    <resultMap id="lesion" type="com.sc.utils.entity.LesionEntity">
        <id property="lesionId" column="lesion_id" jdbcType="VARCHAR"/>
        <result property="caseId" column="case_id" jdbcType="VARCHAR"/>
        <result property="lesionName" column="lesion_name" jdbcType="VARCHAR"/>
        <result property="lesionLocation" column="lesion_location" jdbcType="VARCHAR"/>
        <result property="lesionInfo" column="lesion_info" jdbcType="VARCHAR"/>
        <result property="lesionType" column="lesion_type" jdbcType="VARCHAR"/>
        <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
        <result property="creatorName" column="creator_name" jdbcType="VARCHAR"/>
        <result property="isDel" column="is_del" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="columnsAll">
        lesion_id,case_id,lesion_name,lesion_location,lesion_info,lesion_type,
        creator_id,creator_name,is_del,update_time
    </sql>

    <!-- updateByKey -->
    <update id="updateByKey">
        UPDATE sc_lesion
        <set>
            <if test="lesion.caseId!=null and lesion.caseId !=''">
                case_id=#{lesion.caseId,jdbcType=VARCHAR},
            </if>
            <if test="lesion.lesionName!=null and lesion.lesionName !=''">
                lesion_name=#{lesion.lesionName,jdbcType=VARCHAR},
            </if>
            <if test="lesion.lesionLocation!=null and lesion.lesionLocation !=''">
                lesion_location=#{lesion.lesionLocation,jdbcType=VARCHAR},
            </if>
            <if test="lesion.lesionInfo!=null and lesion.lesionInfo !=''">
                lesion_info=#{lesion.lesionInfo,jdbcType=VARCHAR},
            </if>
            <if test="lesion.lesionType!=null and lesion.lesionType !=''">
                lesion_type=#{lesion.lesionType,jdbcType=VARCHAR},
            </if>
            <if test="lesion.creatorId!=null and lesion.creatorId !=''">
                creator_id=#{lesion.creatorId,jdbcType=VARCHAR},
            </if>
            <if test="lesion.creatorName!=null and lesion.creatorName !=''">
                creator_name=#{lesion.creatorName,jdbcType=VARCHAR},
            </if>
            <if test="lesion.isDel!=null and lesion.isDel !=''">
                is_del=#{lesion.isDel,jdbcType=VARCHAR},
            </if>
            <if test="lesion.updateTime!=null">
                update_time=#{lesion.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE lesion_id=#{lesion.lesionId}
    </update>

    <insert id="insertLesion">
        INSERT INTO sc_lesion
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lesion.lesionId!=null and lesion.lesionId !=''">
                lesion_id,
            </if>
            <if test="lesion.caseId!=null and lesion.caseId !=''">
                case_id,
            </if>
            <if test="lesion.lesionName!=null and lesion.lesionName !=''">
                lesion_name,
            </if>
            <if test="lesion.lesionLocation!=null and lesion.lesionLocation !=''">
                lesion_location,
            </if>
            <if test="lesion.lesionInfo!=null and lesion.lesionInfo !=''">
                lesion_info,
            </if>
            <if test="lesion.lesionType!=null and lesion.lesionType !=''">
                lesion_type,
            </if>
            <if test="lesion.creatorId!=null and lesion.creatorId !=''">
                creator_id,
            </if>
            <if test="lesion.creatorName!=null and lesion.creatorName !=''">
                creator_name,
            </if>
            <if test="lesion.isDel!=null and lesion.isDel !=''">
                is_del,
            </if>
            <if test="lesion.updateTime!=null">
                update_time
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="lesion.lesionId!=null and lesion.lesionId !=''">
                #{lesion.lesionId,jdbcType=VARCHAR},
            </if>
            <if test="lesion.caseId!=null and lesion.caseId !=''">
                #{lesion.caseId,jdbcType=VARCHAR},
            </if>
            <if test="lesion.lesionName!=null and lesion.lesionName !=''">
                #{lesion.lesionName,jdbcType=VARCHAR},
            </if>
            <if test="lesion.lesionLocation!=null and lesion.lesionLocation !=''">
                #{lesion.lesionLocation,jdbcType=VARCHAR},
            </if>
            <if test="lesion.lesionInfo!=null and lesion.lesionInfo !=''">
                #{lesion.lesionInfo,jdbcType=VARCHAR},
            </if>
            <if test="lesion.lesionType!=null and lesion.lesionType !=''">
                #{lesion.lesionType,jdbcType=VARCHAR},
            </if>
            <if test="lesion.creatorId!=null and lesion.creatorId !=''">
                #{lesion.creatorId,jdbcType=VARCHAR},
            </if>
            <if test="lesion.creatorName!=null and lesion.creatorName !=''">
                #{lesion.creatorName,jdbcType=VARCHAR},
            </if>
            <if test="lesion.isDel!=null and lesion.isDel !=''">
                #{lesion.isDel,jdbcType=VARCHAR},
            </if>
            <if test="lesion.updateTime!=null">
                #{lesion.updateTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <!-- 查询列表 -->
    <select id="findByWhere" resultMap="lesion">
        SELECT <include refid="columnsAll"/>
        FROM sc_lesion
        <where>
            <if test="lesion != null">
                <if test="lesion.lesionId!=null and lesion.lesionId !=''">
                    AND lesion_id=#{lesion.lesionId,jdbcType=VARCHAR}
                </if>
                <if test="lesion.caseId!=null and lesion.caseId !=''">
                    AND case_id=#{lesion.caseId,jdbcType=VARCHAR}
                </if>
                <if test="lesion.lesionName!=null and lesion.lesionName !=''">
                    AND lesion_name=#{lesion.lesionName,jdbcType=VARCHAR}
                </if>
                <if test="lesion.lesionLocation!=null and lesion.lesionLocation !=''">
                    AND lesion_location=#{lesion.lesionLocation,jdbcType=VARCHAR}
                </if>
                <if test="lesion.lesionInfo!=null and lesion.lesionInfo !=''">
                    AND lesion_info=#{lesion.lesionInfo,jdbcType=VARCHAR}
                </if>
                <if test="lesion.lesionType!=null and lesion.lesionType !=''">
                    AND lesion_type=#{lesion.lesionType,jdbcType=VARCHAR}
                </if>
                <if test="lesion.creatorId!=null and lesion.creatorId !=''">
                    AND creator_id=#{lesion.creatorId,jdbcType=VARCHAR}
                </if>
                <if test="lesion.creatorName!=null and lesion.creatorName !=''">
                    AND creator_name=#{lesion.creatorName,jdbcType=VARCHAR}
                </if>
                <if test="lesion.isDel!=null and lesion.isDel !=''">
                    AND is_del=#{lesion.isDel,jdbcType=VARCHAR}
                </if>
                <if test="lesion.updateTime!=null">
                    AND update_time=#{lesion.updateTime,jdbcType=TIMESTAMP}
                </if>
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

</mapper>